/*Custom Navbar styling*/

.navbar{
    background-color: #4aaaad!important;
}

.navbar .navbar-brand:hover{
    color: #ffffff;
}

nav-item{
    color: #ffffff!important; 
}

.navbar .navbar-expand{-sm:-md;-lg:-xl}

/*Main Body Styling*/

body{
    background-image:url(../images/intersection.png);
}

.container{
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 20px;
}

.card-body{
    background-color: #4aaaad;
}

.card-title{
    color: #ffffff
}

p{
    color: #ffffff;
}

h3{
    color: #4aaaad;
}

img{
    cursor: pointer;
}
